<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
	</br></br>
	<footer>
		<a href="/">Log in to yr personal gallery!</a> | 
		<a href="/register">Register!</a> | 
		<a href="/gallery">Public Gallery!</a> | 
		<a href="/add">Make a blob!</a>
	</footer>
  </body>
</html>
