<script src="../javascripts/registervalidate.js"></script>
<form action ="/register" method="post" name="register" id="register" onsubmit="return check()">
	Pick a username:
	<input type="text" id="user" name="user"><br/><br/>
	<div id='error'></div>
	<input type=submit value="Aw yeah!" name="registerButton" id="registerButton">
	<br/>
</form>

</br></br>
<div id=security>Here at Blobmaker, web security is our passion</div>